nav {
    display: none;
}

input {
    .toggle {
        display: none;

        span {
            display: none;
        }
    }
}

input[type=checkbox]:checked~nav {
    display: block;
    cursor: pointer;
}

label {
    .toggle {
        display: block;
        cursor: pointer;
    }
}

nav {
    li {
        float: none;

        &:hover {
            ul {
                display: block;
                position: relative;
            }
        }

        ul {
            display: block;

            li {
                margin-left: 20px;
            }
        }

        a {
            display: block;
            margin-left: 20px;
        }
    }

}

nav {
    ul {
        ul {
            display: none;

            li {
                float: none;
            }
        }
    }
}

nav {
    li {
        float: left;

        a {
            text-decoration: none;
            display: inline-block;
            margin: 10px 20px 5px 0;
            padding: 8px 10px;

            &:link {
                color: #646565;
                background: #e8e9eb;
            }

            &:visited {
                color: #646565;
                background: #e8e9eb;
            }

            &:link:hover {
                color: black;
            }

            &:visited:hover {
                color: black;
            }
        }

        &:hover {
            ul {
                display: inline-block;
                position: absolute;
            }
        }
    }
}

input {
    .toggle {
        display: none;
    }
}

label {
    .toggle {
        display: none;
        font-weight: 900;
        font-size: 1.2em;
        padding: 10px 20px;
    }
}