@font-face {
  font-family: "RobotoMono";
  src: url("./font/RobotoMono-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  font-family: "RobotoMono";
  color: #fff;
}
